@import "./bourbon/bourbon";

.hero{
  //font-family: fantasy;
  text-align: center;
<<<<<<< HEAD


  .logo{
    width: 75px;
    height: 75px;

    img {
        border-radius: 25px;
        width: 100%;
    }

  }

=======
  background-image: url('https://russiavsengland.files.wordpress.com/2009/08/women-shaking-hands.jpg');
  width: 800px;
  min-height: 500px;
>>>>>>> upstream/master
}

h1{
  font-size: 70px;
  color: lightcoral;
  text-shadow: 2px 2px darkred;
  padding: 30px;
}


.mybtn{
  font-size: 23px;
  text-shadow: 1px 1px darkred;
  height: 35px;
  color: lightcoral;
  width: 140px;
  margin: 20px;
}
